.cartContainer{
    background-color: var(--backwhite);
    margin: 20px auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 36px 50px 4px rgba(0,0,0,0.3);
}

.thTable{
    color:var(--black);
}

.tableImg{
    width: 150px;
    height: 150px;
    object-fit: contain;
    background-color: var(--purewhite);
    border: 2px solid var(--purewhite);
}

.tableTitle {
    width: 250px;
}

.tablePrice {
    width: 100px;
}

.tableTitle, .tablePrice, .tableQty{
    text-align: center;
}

.iconDelete {
    width: 18px;
    fill: var(--white);
}

.tableDelete {
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: var(--blue);
    background-color: var(--grey);
    transition: 0.4s;
}

.tableDelete:hover {
    background-color: var(--black);
}

.totalPrice{
    text-align: center;
}


.cartDelete {
    width: auto;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: var(--white);
    background-color: var(--grey);
    transition: 0.4s;
    align-self: center;
}

.cartDelete:hover {
    background-color: var(--black);
}

.noCartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.noCartContainer h2 {
    text-align: center;
}

.noCartButton{
    height: 50px;
    width: 130px;
    background-color: var(--blue);
    color: var(--purewhite);
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.noCartButton:hover {
    background-color: var(--darkblue);
}
