.cartContainer{
    background-color: var(--backwhite);
    margin: 20px auto;
    border-radius: 5px;
    padding: 40px 50px;
    box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
}

.cartContainer table {
    border-spacing: 0 15px;
}

.thTable{
    color:var(--black);
    border-bottom: 2px solid var(--blue);
    padding: 10px;
}

.thTable:first-child {
    text-align: start;
}

.cartContainer tbody td {
    border-bottom: 1px solid var(--white);
    padding-bottom: 10px;
}

.tableImg{
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: var(--purewhite);
    border: 2px solid var(--purewhite);
    margin-right: 10px;
}

.tableProduct {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
}

.tablePrice {
    width: 100px;
}

.tableTitle, .tablePrice, .tableQty{
    text-align: center;
}

.iconDelete {
    width: 18px;
    fill: var(--white);
}

.tableDelete {
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: var(--blue);
    background-color: var(--grey);
    transition: 0.4s;
}

.tableDelete:hover {
    background-color: var(--black);
}

.totalPriceL{
    text-align: end;
}

.totalPrice{
    text-align: center;
}

.totalPrice, .totalPriceL {
    border-bottom: 2px solid var(--blue);
}



.noCartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.noCartContainer h2 {
    text-align: center;
}

.noCartButton{
    height: 50px;
    width: 130px;
    background-color: var(--blue);
    color: var(--purewhite);
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.noCartButton:hover {
    background-color: var(--darkblue);
}

.cartButtons{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.cartButtons button {
    width: 200px;
    height: 50px;
    transition: 0.4s;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 15px;
}

.cartDeleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: var(--grey);
}

.cartDeleteBtn:hover {
    background-color: var(--black);
}

.cartBuyBtn {
    background-color: var(--blue);
    color: var(--purewhite);   
}

.cartBuyBtn:hover {
    background-color: var(--darkblue);
}

.orderInputContainer {
    display: flex;
    flex-direction: column;
}