.containerProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 300px;
    margin-top: 15px;
    background-color:var(--purewhite)
}

.productTitle{
    font-size: 15px;
    height: 10%;
    text-align: center;
    color: var(--black);
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.productImage{
    max-height: 50%;
    max-width: 70%;
}

.productDescription{
    text-align: center;
    font-size: 12px;
    height: 15%;
    overflow: hidden;    
    text-overflow: ellipsis;
    margin: 10px;
    color: var(--black);
    flex-grow: 2;
}

.productPrice{
    font-size: 18px;
    color: var(--black)
}

.productLink{
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--purewhite);
    background-color: var(--blue);
    margin: 5px;
    border: none;
    transition: 0.5s;
}

.productLink:hover {
    background-color: var(--darkblue);
    transition: 0.5s;
}