.container-navbar {
    background-color: var(--grey);
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-list {
    display: flex;
    flex-direction: row;

}

.container-list li {
    list-style: none;
    margin: 0px 5px;
}

.container-list a {
    text-decoration: none;
    color:var(--white);
    transition: 0.3s;
}

.container-list a:hover {
    color: var(--aqua);
    transition: 0.3s;
    cursor: pointer;
}

.logo, svg {
    color: var(--white);
}