.container-links {
    display: flex;
    flex-direction: row;
}

.container-links a {
    text-decoration: none;
    color:var(--purewhite);
    transition: 0.3s;
    padding: 5px 10px 15px 10px;
    margin-top: 10px;
}

.container-links a:hover {
    color: var(--black);
    transition: 0.3s;
    cursor: pointer;
}

.container-links a.active {
    transition: 0.1s;
    color: var(--black);
    background-color: var(--backwhite);
    border-radius: 10px 10px 0px 0px;
}


@media (max-width:768px) {

.container-links {
    display: none;
    flex-direction: column;
    margin-top: 40px;
}

.container-links a.active {
    border-radius: 0px;
}

.container-links a {
    padding: 10px;
    padding-left: 15px;
    width: 100vw;
    font-size: 24px;
}

.container-links.open {
    display: flex;
}
}