.container-navbar {
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-links {
    display: flex;
    flex-direction: row;
}

.container-links a {
    text-decoration: none;
    color:var(--purewhite);
    transition: 0.3s;
    padding: 5px 10px 15px 10px;
    margin-top: 10px;
}

.container-links a:hover {
    color: var(--black);
    transition: 0.3s;
    cursor: pointer;
}

.logo, svg {
    color: var(--purewhite);
}

.container-links a.active {
    transition: 0.1s;
    color: var(--black);
    background-color: var(--backwhite);
    border-radius: 10px 10px 0px 0px;
}