.containerItemCount {
    background-color: var(--blue);
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.buttonCount {
    height: 30px;
    width: 30px;
    color: var(--purewhite);
    outline: none;
    border: none;
    background-color:var(--blue);
    font-size: large;
    border-radius: 10px;
}

.numberCount {
    color: var(--purewhite);
    background-color: var(--blue);
}

.buttonAddCart {
    width: 180px;
    height: 30px;
    margin: 10px 0px;
    background-color: var(--blue);
    color: var(--purewhite);
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

.buttonAddCart:hover {
    background-color: var(--darkblue);
}