.containerItemCount {
    background-color: #1E1E1E;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.buttonCount {
    height: 30px;
    width: 30px;
    color: var(--white);
    outline: none;
    border: none;
    background-color:var(--grey);
    font-size: large;
    border-radius: 10px;
}

.numberCount {
    background-color:var(--grey);
    color: var(--white);
}

.buttonAddCart {
    width: 180px;
    height: 30px;
    margin: 10px 0px;
    background-color: var(--grey);
    color: var(--white);
    border: none;
    border-radius: 10px;
}